# 📦 Dépendances
/node_modules/
/.pnp
.pnp.js

# 🧪 Tests et couverture
/coverage/

# 🏗️ Build
/build/
/dist/

# 🔐 Variables d’environnement
.env


# 🧪 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 🧠 Fichiers système et éditeurs
.DS_Store
*.swp
.vscode/
.idea/

# 🧠 Pourquoi ?
# - node_modules : trop volumineux, recréé avec npm install
# - build/dist : générés automatiquement
# - .env.* : contient des URLs, clés API
# - logs : inutiles pour le repo
# - .DS_Store, *.swp : fichiers système
