# 🔐 Fichiers sensibles
.env
*.env
.env.global
.my.cnf
Pipfile
Pipfile.lock

# 🗂️ Fichiers système
.DS_Store
Thumbs.db
*.swp

# 🧪 Fichiers de test ou de debug
*.log
*.sqlite3
coverage/
htmlcov/
*.coverage

# 🐍 Python / Django
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
env/
ENV/

# 📁 Django media & static
media/incident_images/**
!media/incident_images/.gitkeep
static/**
!static/.gitkeep

# 📦 Node.js / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.cache/
build/
dist/


