# 🐍 Fichiers Python compilés et caches
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔐 Fichiers d'environnement et secrets
.env
.env.*
secrets/

# 📦 Gestion de version et dépendances
.git
.gitignore
*.egg-info/
env/
venv/

# 🗃️ Fichiers de base de données et logs
*.sqlite3
*.log

# 🧱 Fichiers statiques (générés par collectstatic)
static/

# 🧪 Tests et couverture
.coverage
htmlcov/

# 🧠 Fichiers liés à l'IDE et au système
.vscode/
.idea/
*.swp
.DS_Store

# 🐳 Fichiers liés à Docker
Dockerfile
.dockerignore

# 📁 Dossier media (exclure les fichiers, garder le dossier)
media/*
!media/.gitkeep

backend/settings_ci.py

